@font-face {
   font-family: fangsong;
   src: url('/assets/微软简仿宋.ttf');
}

@font-face {
   font-family: fangzheng;
   src: url('/assets/方正兰亭特黑简体.ttf');
}

* {
   margin: 0;
   padding: 0;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
}

.app__bg {
   background-color:  #010a35;
   width: 100%;
   height: 100%;
   position: absolute;
}

.app__logo {
   position: absolute;
   right: 40px;
   top: 40px;
   font-size: 20px;
   color: #fff;
   display: flex;
   align-items: center;
}

.app__logo span {
   margin-left: 10px;
}

.page {
   padding: 0 70px;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
}

.first {
   display: flex;
   align-items: center;
}

.first__menu {
   width: 400px;
}

.first__item {
   font-size: 40px;
   height: 140px;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   background-color: #1e264d;
   border-radius: 8px;
   padding: 0 40px;
   color: #929cae;
}

.first__item-icon {
   width: 80px;
   height: 80px;
   margin-right: 20px;
   background-color: #dd9f54;
   border-radius: 100%;
   overflow: hidden;
}

.first__item-icon img {
   width: 70px;
   height: 70px;
   position: relative;
   left: 5px;
   top: 14px;
}


.second {
   display: flex;
   align-items: center;
   justify-content: center;
}

.second__title {
   font-size: 130px;
   color: red;
   width: 100%;
   margin-bottom: 40px;
   text-align: center;
   letter-spacing: 16px;
   font-family: fangzheng;
}

.second__subtitle {
   font-size: 28px;
   color: #929cae;
   width: 100%;
   text-align: center;
   font-family: fangsong;
}

.second__hear-rate {
   width: 1280px;
   margin-top: 70px;
}

.third {
   display: flex;
   align-items: center;
}

.third__left {
   width: 500px;
   text-align: center;
}

.third__left-title {
   color: #8a102f;
   font-size: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.third__left-map {
   width: 100%;
   height: 500px;
}

.third__left-section {
   width: 200px;
   height: 60px;
   font-size: 26px;
   color: #929cae;
   background-color: #1e264d;
   text-align: center;
   text-indent: 57px;
   border: none;
}

.third__right-top {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.third__right-title {
   font-size: 24px;
   color: #fff;
   width: 100%;
   margin-bottom: 20px;
}

.third__right-panel {
   background-color: #1e264d;
   padding: 40px;
   width: 500px;
   height: 300px;
   color: #fff;
}

.third__right-panel  label {
   margin-right: 8px;
}

.third__right-line {
   position: relative;
   left: -30px;
   top: 18px;

}

.third__right-value {
   margin-top: 30px;
   display: flex;
   align-items: center;
   gap: 12px;
}

.third__right-num {
   font-size: 70px;
   letter-spacing: 4px;
}

.third__right-unit {
   font-size: 30px;
   color: #8a102f;
   position: relative;
   top: -12px;
   letter-spacing: 4px;
}

.third__right__color-menu > div{
   display: flex;
   align-items: center;
   font-size: 20px;
   margin-bottom: 10px;
}

.third__right__color {
   width: 40px;
   height: 20px;
   border-radius: 20px;
   margin-right: 20px;
}


.third__right__bottom {
   display: flex;
   align-items: center;
   gap: 100px;
   margin-top: 50px;
}
.third__right__bottom-mean {
   position: relative;
   margin-right: 4px;
   padding-left: 12px;
}

.third__right__bottom-mean:before {
   content: '';
   display: block;
   position: absolute;
   width: 1px;
   height: 70px;
   background-color: #fff;
   left: -10px;
   top: 12px;
}

.third__right__bottom-value {
   font-size: 40px;
   color: #fff;
}

.third__right__bottom-unit {
   font-size: 20px;
   color: #929cae;
}

.third__right__bottom-alt {
   font-size: 20px;
   color: #fff;
}
